.card-resident {
   height: 8rem;
   width: 90%;
   background-color: rgba(100, 91, 119, 0.671);
   border-radius: 1rem;
   margin-bottom: 1rem;
   padding: 5px;
   display: flex;
   justify-content: space-evenly;
}
.card-resident img {
   height: 5rem;
   margin: 0 5px;
}
.container-img {
   height: 100%;
   display: flex;
   align-items: center;
}
.container-info {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}
.container-info > h3 {
   margin-bottom: 5px;
   color: rgb(178, 176, 194);
}
.container-info > article {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}
.list-card {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
@media screen and (min-width: 500px) {
   .card-resident {
      width: 70%;
   }
}
@media screen and (min-width: 600px) {
   .card-resident {
      width: 60%;
   }
}
@media screen and (min-width: 750px) {
   .card-resident {
      height: 8rem;
      width: 45%;
   }
   .list-card {
      justify-content: space-evenly;
   }
}
@media screen and (min-width: 1000px) {
   .card-resident {
      height: 9rem;
      width: 42%;
   }
   .card-resident img {
      height: 7rem;
   }
   .list-card {
      padding: 0 5rem;
   }
}
